.dropdown-field {
    margin-top: 4px;
    text-align: left;
    font-size: 12px;
    width: 90%;
}

.Dropdown-control {
    border: 0.125rem solid rgba(64, 67, 72, 1);
    color: #fff;
    background-color: #33363B;
}

.Dropdown-menu {
    color: #fff;
    border: 0.125rem solid rgba(64, 67, 72, 1);
    background-color: #33363B;
}

.Dropdown-option:hover {
    color: #fff;
    background-color: #5C61F0;
    transition: ease;
}

.Dropdown-option {
    transition: 0.3s;
    color: #fff;
}

.Dropdown-title {
    height: 28px;
    font-weight: 400 !important;
    opacity: 0.6;
    color: #fff !important;
}

.Dropdown-placeholder {
    opacity: 0.8;
}

.dropdown-label{
    font-size: 11px;
    margin-bottom: 2px;
}