.modal {
    position: relative;
    background-color: #1D2025;
    height: 75vh;
    width: 54rem;
}

.footer {
    flex: 1;
    padding: 1rem 1em 1em 1em;
}

.footer-button{
    font-size: 12px;
}

.footer-button-finish {
    background-color: #4F46E5;
}

.footer-button-back {
    background-color: #6D7175;
}